<h1>Index Page</h1>

<button id="signin">sign in</button>

<br />

<button id="callapi">call api</button>


@*<script src="~/sign-in.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.0/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>